.heading {
  border-left:4px solid #ECB390;
  border-radius:2px;
}
.heading h3 {
 font-weight:bold;
  font-size:40px;
  font-weight:600;
  line-height:56px;
}
.sub_heading p {
  font-size:18px;
  line-height:31.32px;
  padding-left:25px;
}


@media(max-width:768px){
    .heading h3 {
   font-weight:bold;
    font-size:28px;
    font-weight:600;
    line-height:40px;
  }

}
